<div class="jumbotron">
  <h1> She Ships Seashells By The Shipstore </h1>
</div>
<form action='/results'>
  <div class="form-group">
    <label target='length'>Length of package:</label>
    <input id='length' name='length' class='form-control' type='number'>

    <label target='width'>Width of package:</label>
    <input id='width' name='width' class='form-control' type='number'>

    <label target='height'>Height of package:</label>
    <input id='height' name='height' class='form-control' type='number'>

    <label target='weight'>Weight of package:</label>
    <input id='weight' name='weight' class='form-control' type='number'>

    <label target='distance'>Distance of package:</label>
    <input id='distance' name='distance' class='form-control' type='number'>


    
    <label target='speed'>Speed of package:</label>
    <input id='speed' name='speed' class='form-control' type='text'>

    <button type="submit" class="btn btn-primary btn-lg btn-block">Ship It!</button>

<a href='/'>Go to main page and try again</a>
